body {
/*background: transparent !important;*/
  background: #29382E;
  /*#141414*/
  /*background-image: url("../img/Inessa.jpg");*/
  background-repeat: no-repeat;
  background-size:100%;
  color: #29382E;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  cursor: auto; }

/*FONTS*/


/*@font-face { 
  font-family: PetitFormal; 
  src: url('../petit-formal-script-v1.1/src/petitformalscript-regular.otf'); 
} 

div {
  font-family: PetitFormal ;
}*/




/*same bg color as body*/

.contain-to-grid {
width: 100%;
background: #29382E; 
}

  .top-bar {
  /*overflow: hidden;*/
  line-height: 45px;
  position: relative;
  background: #1F1F1F;
  margin-bottom: 0; }

/*Centralised Menu*/

nav.top-bar {
text-align:center;
}
section.top-bar-section {
display: inline-block;
}
.top-bar-section ul li>a {
display: block;
width: 100%;
color: #fff;
padding: 12px 0 12px 0;
padding-left: 15px;
font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
font-size:100v%;
font-weight: normal;
text-transform: none;
}


button, .button {
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  background-color: #3D061B;
  border-color: #007095;
  color: white;
  transition: background-color 300ms ease-out; }

  .header {

    text-align: center;
    background-color: #1F1F1F;
    overflow: visible;
    /*background-image: url("../img/bg2.jpg");*/
  }

.master_picture {height:200px;
  width:200px;

}

#master_picture > img {
  height:200px;
  width:200px;

}

/*VISABILITY REASONS IT AINT NO MOZILLA*/
/*.columns {

border: 1px solid black;
}

.row {
  border: 1px solid orange;
}*/
  

  .row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem; 
  
  }
  /**/



  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row.collapse > .column,
  .row.collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .row.collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row .row {
    width: auto;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none; }
    .row .row:before, .row .row:after {
      content: " ";
      display: table; }
    .row .row:after {
      clear: both; }
    .row .row.collapse {
      width: auto;
      margin: 0;
      max-width: none; }
      .row .row.collapse:before, .row .row.collapse:after {
        content: " ";
        display: table; }
      .row .row.collapse:after {
        clear: both; }

  h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #C8B69C;
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-size: 60%;
    color: #6f6f6f;
    line-height: 0; }

  .panel {
    text-align: center; 
    color:white;
    background-color:transparent;
    border-radius:;
    border:none;
    font-style: italic;
  }

 

.link:hover{

  cursor:pointer;

}

div.link {
cursor: pointer;
text-decoration: none;
 onclick="location.href='furniture.html';"
}

hr {margin:0;}

.mySlider{
  background-color:#CCBBB7;

}


.portfolioselection {
  background-color:#CCBBB7;

}



div.link {
cursor: pointer;
text-decoration: none;

}

div.link a {color:white;}
div.link a:hover {color:gold;}

.panelslider {

  border-radius:20px;
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #212121;
  text-align: center;
  color: white; }
  .panel > :first-child {
    margin-top: 0; }
  .panel > :last-child {
    margin-bottom: 0; }
  .panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6, .panel p, .panel li, .panel dl {
    color: white; }
    /*weird color*/
  .panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6 {
    line-height: 1;
    margin-bottom: 0.625rem; }
    .panel h1.subheader, .panel h2.subheader, .panel h3.subheader, .panel h4.subheader, .panel h5.subheader, .panel h6.subheader {
      line-height: 1.4; }
  .panel.callout {
    border-style: solid;
    border-width: 1px;
    border-color: #b6edff;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background: #ecfaff;
    color: #333333; }
    .panel.callout > :first-child {
      margin-top: 0; }
    .panel.callout > :last-child {
      margin-bottom: 0; }
    .panel.callout h1, .panel.callout h2, .panel.callout h3, .panel.callout h4, .panel.callout h5, .panel.callout h6, .panel.callout p, .panel.callout li, .panel.callout dl {
      color: #333333; }
    .panel.callout h1, .panel.callout h2, .panel.callout h3, .panel.callout h4, .panel.callout h5, .panel.callout h6 {
      line-height: 1;
      margin-bottom: 0.625rem; }
      .panel.callout h1.subheader, .panel.callout h2.subheader, .panel.callout h3.subheader, .panel.callout h4.subheader, .panel.callout h5.subheader, .panel.callout h6.subheader {
        line-height: 1.4; }
    .panel.callout a:not(.button) {
      color: #008cba; }
  .panel.radius {
    border-radius: 3px; }




/*#dimmed {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#dimmed img {
  opacity:0.4;
    width: 100%;
    height: 100%;
}

*/
#pageWrapper {
     /*background-image: url("../img/Inessa.jpg");
     background-repeat: no-repeat;
     background-size: 100%;*/

     margin: 0px auto; 
     max-width: 62.5em; 
     width: 100%; 
     box-shadow: 0px 0px 15px;
     color:White;
     border-radius: .5em;
     height:auto;
}






/*.top-bar-section ul {display: table; margin: 0 auto;}
.top-bar-section ul li {display: table-cell;}
*/
/*#totop {

    left: 0px;
    height: 30px;
    width: 30px;
    position: fixed;
    top: 60%;
    z-index: 999;
    border-radius: 4px 4px;
    enables text text rotation transform : rotate(- 90 deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#totop a {

    border: solid 1px #fff;
    display: block;
    background: #3B565B;
    height: 15px;
    width: 60px;
    padding: 8px 16px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 0px 0px 15px 15px
}

#totop :hover {
    color: #9FA3E4;
    background: #52253A;
}*/
